* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

li {
  list-style-type: none;
}

ul {
  list-style: none;
}

.showcase {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1608942025318-1191eeade556?q=80&w=1155&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: inset 30px 10px 150px #000000;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 450px;
  height: 450px;
  background: rgb(0, 0, 0, 0.65);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 60px 60px;
  border-radius: 16px;
}

.formm h1 {
  margin-bottom: 20px;
}

.formm {
  width: 100%;
  margin-bottom: 40px;
}

.formm .info {
  padding: 5px 0;
  margin-bottom: 20px;
}

.formm .info .email {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: inherit;
}

.formm .btn {
  width: 100%;
}

.btn-primary {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

input[type="email"],
input[type="password"] {
  background: #343434;
  outline: none;
  border: none;
}

.signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signup p {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #496989;
  border-radius: 10px;
  border: 1px solid #496989;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Loader */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #011627;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}

.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #011627;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
